body{
    background-color: #212121;
    color: #fff 
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px #048fda45;
    font-family: cursive;
}

.set{
    display: flex;
    justify-content: center;
    gap: 4%;
}

.button{
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    box-shadow:
        0 0 0 6px rgba(255,255,255,0.08),
        0 8px 16px rgba(0,0,0,0.4);

    transition: transform 0.1s, box-shadow 0.1s;
}
    

#Purple{
    background-color: purple;
}

#whitesmoke{
    background-color: whitesmoke;
}

#Pink{
    background-color: pink;
}

#YellowGreen{
    background-color: yellowgreen;
}